.sidebar {
  @include card;
  background-color: $dark-blue;
  color: $white;
  display: inline-block;
  float: left;
  height: 100vh;
  width: 200px;
}

.channel p{
  margin: 0;
  text-transform: capitalize;
}

.group-title {
  color: $material-blue;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.group-title {
  margin-top: 30px;
}

.channel-name{
    margin-top: 8px;
}

.channel-list {
  list-style-type: none;
  padding-left: 10px;
}

.unread-chip {
  @include chip($material-red);
}
