.chat-window {
  display: inline-block;
  float: left;
  max-height: 100vh;
  overflow-y: scroll;
  width: calc(100% - 200px);

  .message {
    margin-left: 20px;
  }

  .message-data {
    color: $dark-gray;
  }

  .message-date {
    color: $grey;
    margin-left: 5px;
  }
}
